@import "tailwindcss";

@theme {
  --color-bg: #0d0d0d;
  --color-bg-soft: #161616;
  --color-primary: #ff6b35;
  --color-secondary: #ffd23f;
  --color-accent: #4ecdc4;
  --color-text-main: #f5f5f5;
  --color-text-muted: #a3a3a3;

  --font-display: var(--font-playfair);
  --font-body: var(--font-inter);
}

body {
  background-color: var(--color-bg);
  color: var(--color-text-main);
  cursor: none;
}

* {
  scroll-behavior: smooth;
}
